src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:stripe="http://www.mulesoft.org/schema/mule/stripe" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.6.0" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd         http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.mulesoft.org/schema/mule/stripe http://www.mulesoft.org/schema/mule/stripe/current/mule-stripe.xsd">

<context:property-placeholder location="automation-credentials.properties"/>

<stripe:config-type apiKey="${stripe.apiKey}" apiVersion="${stripe.apiVersion}" doc:name="Stripe" name="Stripe"/>

<flow doc:name="ListAllCustomers" name="list-all-customers">
	<stripe:list-all-customers config-ref="Stripe" endingBefore="#[flowVars.endingBefore]" limit="#[flowVars.limit]" startingAfter="#[flowVars.startingAfter]"/>
</flow>

<flow doc:name="CreateCustomer" name="create-customer">
	<stripe:create-customer accountBalance="#[flowVars.accountBalance]" config-ref="Stripe" couponCode="#[flowVars.couponCode]" description="#[flowVars.description]" email="#[flowVars.email]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:create-customer>
</flow>
<flow doc:name="RetrieveCustomer" name="retrieve-customer">
	<stripe:retrieve-customer config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="UpdateCustomer" name="update-customer">
	<stripe:update-customer accountBalance="#[flowVars.accountBalance]" config-ref="Stripe" couponCode="#[flowVars.couponCode]" description="#[flowVars.description]" email="#[flowVars.email]" id="#[flowVars.id]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-customer>
</flow>
    <flow doc:name="DeleteCustomer" name="delete-customer">
	<stripe:delete-customer config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
<flow doc:name="CreatePlan" name="create-plan">
	<stripe:create-plan amount="#[flowVars.amount]" config-ref="Stripe" currency="#[flowVars.currency]" id="#[flowVars.id]" interval="#[flowVars.interval]" intervalCount="#[flowVars.intervalCount]" planName="#[flowVars.planName]" statementDescriptor="#[flowVars.statementDescriptor]" trialPeriodDays="#[flowVars.trialPeriodDays]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:create-plan>
</flow>
    <flow doc:name="RetrievePlan" name="retrieve-plan">
	<stripe:retrieve-plan config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="UpdatePlan" name="update-plan">
	<stripe:update-plan config-ref="Stripe" id="#[flowVars.id]" planName="#[flowVars.planName]" statementDescriptor="#[flowVars.statementDescriptor]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-plan>
</flow>
    <flow doc:name="DeletePlan" name="delete-plan">
	<stripe:delete-plan config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="ListAllPlans" name="list-all-plans">
	<stripe:list-all-plans config-ref="Stripe">
		<stripe:created ref="#[flowVars.CreatedRef]"/>
	</stripe:list-all-plans>
</flow>
<flow doc:name="CreateCoupon" name="create-coupon">
	<stripe:create-coupon amountOff="#[flowVars.amountOff]" config-ref="Stripe" currency="#[flowVars.currency]" duration="#[flowVars.duration]" durationInMonths="#[flowVars.durationInMonths]" id="#[flowVars.id]" maxRedemptions="#[flowVars.maxRedemptions]" percentOff="#[flowVars.percentOff]" redeemBy="#[flowVars.redeemBy]">
		<stripe:metadata ref="#[metadata]"/>
	</stripe:create-coupon>
</flow>
    <flow doc:name="RetrieveCoupon" name="retrieve-coupon">
	<stripe:retrieve-coupon config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="UpdateCoupon" name="update-coupon">
	<stripe:update-coupon config-ref="Stripe" id="#[flowVars.id]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-coupon>
</flow>
    <flow doc:name="DeleteCoupon" name="delete-coupon">
	<stripe:delete-coupon config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="ListAllCoupons" name="list-all-coupons">
	<stripe:list-all-coupons config-ref="Stripe" createdTimestamp="#[flowVars.createdTimestamp]" endingBefore="#[flowVars.endingBefore]" limit="#[flowVars.limit]" startingAfter="#[flowVars.startingAfter]">
		<stripe:created ref="#[flowVars.CreatedRef]"/>
	</stripe:list-all-coupons>
</flow>
<flow doc:name="RetrieveBalance" name="retrieve-balance">
	<stripe:retrieve-balance config-ref="Stripe"/>
</flow>
    <flow doc:name="RetrieveBalanceTransaction" name="retrieve-balance-transaction">
	<stripe:retrieve-balance-transaction config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="ListAllBalanceHistory" name="list-all-balance-history">
	<stripe:list-all-balance-history availableOnTimestamp="#[flowVars.availableOnTimestamp]" config-ref="Stripe" createdTimestamp="#[flowVars.createdTimestamp]" currency="#[flowVars.currency]" endingBefore="#[flowVars.endingBefore]" limit="#[flowVars.limit]" sourceId="#[flowVars.sourceId]" startingAfter="#[flowVars.startingAfter]" transfer="#[flowVars.transfer]" type="#[flowVars.startingAfter]">
		<stripe:available-on ref="#[flowVars.AvailableOnRef]"/>
		<stripe:created ref="#[flowVars.CreatedRef]"/>
	</stripe:list-all-balance-history>
</flow>
<flow doc:name="CreateCard" name="create-card">
	<stripe:create-card config-ref="Stripe" ownerId="#[flowVars.ownerId]">
		<stripe:source ref="#[flowVars.source]"/>
	</stripe:create-card>
</flow>
<flow doc:name="RetrieveCard" name="retrieve-card">
	<stripe:retrieve-card config-ref="Stripe" id="#[flowVars.id]" ownerId="#[flowVars.ownerId]"/>
</flow>
    <flow doc:name="UpdateCard" name="update-card">
	<stripe:update-card addressCity="#[flowVars.addressCity]" addressCountry="#[flowVars.addressCountry]" addressLine1="#[flowVars.addressLine1]" addressLine2="#[flowVars.addressLine2]" addressState="#[flowVars.addressState]" addressZip="#[flowVars.addressZip]" cardName="#[flowVars.cardName]" config-ref="Stripe" expMonth="#[flowVars.expMonth]" expYear="#[flowVars.expYear]" id="#[flowVars.id]" ownerId="#[flowVars.ownerId]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-card>
</flow>
    <flow doc:name="DeleteCard" name="delete-card">
	<stripe:delete-card config-ref="Stripe" id="#[flowVars.id]" ownerId="#[flowVars.ownerId]"/>
</flow>
    <flow doc:name="ListAllCustomerCards" name="list-all-customer-cards">
	<stripe:list-all-customer-cards config-ref="Stripe" endingBefore="#[flowVars.endingBefore]" limit="#[flowVars.limit]" ownerId="#[flowVars.ownerId]" startingAfter="#[flowVars.startingAfter]"/>
</flow>
<flow doc:name="CreateCharge" name="create-charge">
	<stripe:create-charge amount="#[flowVars.amount]" applicationFee="#[flowVars.applicationFee]" capture="#[flowVars.capture]" config-ref="Stripe" currency="#[flowVars.currency]" customerId="#[flowVars.customerId]" description="#[flowVars.description]" destination="#[flowVars.destination]" receiptEmail="#[flowVars.receiptEmail]" statementDescriptor="#[flowVars.statementDescriptor]">
		<stripe:source ref="#[flowVars.source]"/>
		<stripe:metadata ref="#[flowVars.metadata]"/>		
	</stripe:create-charge>
</flow>
    <flow doc:name="RetrieveCharge" name="retrieve-charge">
	<stripe:retrieve-charge config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="UpdateCharge" name="update-charge">
	<stripe:update-charge config-ref="Stripe" description="#[flowVars.description]" id="#[flowVars.id]" receiptEmail="#[flowVars.receiptEmail]">
		<stripe:metadata ref="#[flowVars.metadata]"/>		
	</stripe:update-charge>
</flow>
    <flow doc:name="CaptureCharge" name="capture-charge">
	<stripe:capture-charge amount="#[flowVars.amount]" applicationFee="#[flowVars.applicationFee]" config-ref="Stripe" id="#[flowVars.id]" receiptEmail="#[flowVars.receiptEmail]" statementDescriptor="#[flowVars.statementDescriptor]"/>	  
</flow>
    <flow doc:name="ListAllCharges" name="list-all-charges">
	<stripe:list-all-charges config-ref="Stripe" createdTimestamp="#[flowVars.createdTimestamp]" customer="#[flowVars.customer]" endingBefore="#[flowVars.endingBefore]" limit="#[limit]" startingAfter="#[flowVars.startingAfter]"/>
</flow>
<flow doc:name="CreateSubscription" name="create-subscription">
	<stripe:create-subscription config-ref="Stripe" customerId="#[flowVars.customerId]" plan="#[flowVars.plan]" coupon="#[flowVars.coupon]" trialEnd="#[flowVars.trialEnd]" sourceToken="#[flowVars.sourceToken]" quantity="#[flowVars.quantity]" applicationFeePercent="#[flowVars.applicationFeePercent]" taxPercent="#[flowVars.taxPercent]">
		<stripe:source ref="#[flowVars.source]"/>
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:create-subscription>
</flow>
    <flow doc:name="RetrieveSubscription" name="retrieve-subscription">
	<stripe:retrieve-subscription config-ref="Stripe" customerId="#[flowVars.customerId]" subscriptionId="#[flowVars.subscriptionId]"/>
</flow>
    <flow doc:name="UpdateSubscription" name="update-subscription">
	<stripe:update-subscription config-ref="Stripe" customerId="#[flowVars.customerId]" plan="#[flowVars.plan]" subscriptionId="#[flowVars.subscriptionId]" prorate="#[flowVars.prorate]" coupon="#[flowVars.coupon]" trialEnd="#[flowVars.trialEnd]" sourceToken="#[flowVars.sourceToken]" quantity="#[flowVars.quantity]" applicationFeePercent="#[flowVars.applicationFeePercent]" taxPercent="#[flowVars.taxPercent]" >
		<stripe:source ref="#[flowVars.source]"/>
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-subscription>
</flow>
    <flow doc:name="CancelSubscription" name="cancel-subscription">
	<stripe:cancel-subscription config-ref="Stripe" customerId="#[flowVars.customerId]" subscriptionId="#[flowVars.subscriptionId]"/>
</flow>
    <flow doc:name="ListActiveSubscriptions" name="list-active-subscriptions">
	<stripe:list-active-subscriptions config-ref="Stripe" customerId="#[flowVars.customerId]"/>
</flow>
</mule>
