src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:stripe="http://www.mulesoft.org/schema/mule/stripe" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.6.0" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd         http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.mulesoft.org/schema/mule/stripe http://www.mulesoft.org/schema/mule/stripe/current/mule-stripe.xsd">

<context:property-placeholder location="automation-credentials.properties"/>

<stripe:config-type apiKey="${stripe.apiKey}" apiVersion="${stripe.apiVersion}" doc:name="Stripe" name="Stripe"/>

<flow doc:name="ListAllCustomers" name="list-all-customers">
	<stripe:list-all-customers config-ref="Stripe" endingBefore="#[flowVars.endingBefore]" limit="#[flowVars.limit]" startingAfter="#[flowVars.startingAfter]"/>
</flow>

<flow doc:name="CreateCustomer" name="create-customer">
	<stripe:create-customer accountBalance="#[flowVars.accountBalance]" config-ref="Stripe" couponCode="#[flowVars.couponCode]" description="#[flowVars.description]" email="#[flowVars.email]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:create-customer>
</flow>
<flow doc:name="RetrieveCustomer" name="retrieve-customer">
	<stripe:retrieve-customer config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="UpdateCustomer" name="update-customer">
	<stripe:update-customer accountBalance="#[flowVars.accountBalance]" config-ref="Stripe" couponCode="#[flowVars.couponCode]" description="#[flowVars.description]" email="#[flowVars.email]" id="#[flowVars.id]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-customer>
</flow>
    <flow doc:name="DeleteCustomer" name="delete-customer">
	<stripe:delete-customer config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
<flow doc:name="CreatePlan" name="create-plan">
	<stripe:create-plan amount="#[flowVars.amount]" config-ref="Stripe" currency="#[flowVars.currency]" id="#[flowVars.id]" interval="#[flowVars.interval]" intervalCount="#[flowVars.intervalCount]" planName="#[flowVars.planName]" statementDescriptor="#[flowVars.statementDescriptor]" trialPeriodDays="#[flowVars.trialPeriodDays]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:create-plan>
</flow>
    <flow doc:name="RetrievePlan" name="retrieve-plan">
	<stripe:retrieve-plan config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="UpdatePlan" name="update-plan">
	<stripe:update-plan config-ref="Stripe" id="#[flowVars.id]" planName="#[flowVars.planName]" statementDescriptor="#[flowVars.statementDescriptor]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-plan>
</flow>
    <flow doc:name="DeletePlan" name="delete-plan">
	<stripe:delete-plan config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="ListAllPlans" name="list-all-plans">
	<stripe:list-all-plans config-ref="Stripe">
		<stripe:created ref="#[flowVars.CreatedRef]"/>
	</stripe:list-all-plans>
</flow>
<flow doc:name="CreateCoupon" name="create-coupon">
	<stripe:create-coupon amountOff="#[flowVars.amountOff]" config-ref="Stripe" currency="#[flowVars.currency]" duration="#[flowVars.duration]" durationInMonths="#[flowVars.durationInMonths]" id="#[flowVars.id]" maxRedemptions="#[flowVars.maxRedemptions]" percentOff="#[flowVars.percentOff]" redeemBy="#[flowVars.redeemBy]">
		<stripe:metadata ref="#[metadata]"/>
	</stripe:create-coupon>
</flow>
    <flow doc:name="RetrieveCoupon" name="retrieve-coupon">
	<stripe:retrieve-coupon config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="UpdateCoupon" name="update-coupon">
	<stripe:update-coupon config-ref="Stripe" id="#[flowVars.id]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-coupon>
</flow>
    <flow doc:name="DeleteCoupon" name="delete-coupon">
	<stripe:delete-coupon config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="ListAllCoupons" name="list-all-coupons">
	<stripe:list-all-coupons config-ref="Stripe" createdTimestamp="#[flowVars.createdTimestamp]" endingBefore="#[flowVars.endingBefore]" limit="#[flowVars.limit]" startingAfter="#[flowVars.startingAfter]">
		<stripe:created ref="#[flowVars.CreatedRef]"/>
	</stripe:list-all-coupons>
</flow>
<flow doc:name="RetrieveBalance" name="retrieve-balance">
	<stripe:retrieve-balance config-ref="Stripe"/>
</flow>
    <flow doc:name="RetrieveBalanceTransaction" name="retrieve-balance-transaction">
	<stripe:retrieve-balance-transaction config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="ListAllBalanceHistory" name="list-all-balance-history">
	<stripe:list-all-balance-history availableOnTimestamp="#[flowVars.availableOnTimestamp]" config-ref="Stripe" createdTimestamp="#[flowVars.createdTimestamp]" currency="#[flowVars.currency]" endingBefore="#[flowVars.endingBefore]" limit="#[flowVars.limit]" sourceId="#[flowVars.sourceId]" startingAfter="#[flowVars.startingAfter]" transfer="#[flowVars.transfer]" type="#[flowVars.startingAfter]">
		<stripe:available-on ref="#[flowVars.AvailableOnRef]"/>
		<stripe:created ref="#[flowVars.CreatedRef]"/>
	</stripe:list-all-balance-history>
</flow>
<flow doc:name="CreateCard" name="create-card">
	<stripe:create-card config-ref="Stripe" ownerId="#[flowVars.ownerId]">
		<stripe:source ref="#[flowVars.source]"/>
	</stripe:create-card>
</flow>
<flow doc:name="RetrieveCard" name="retrieve-card">
	<stripe:retrieve-card config-ref="Stripe" id="#[flowVars.id]" ownerId="#[flowVars.ownerId]"/>
</flow>
    <flow doc:name="UpdateCard" name="update-card">
	<stripe:update-card addressCity="#[flowVars.addressCity]" addressCountry="#[flowVars.addressCountry]" addressLine1="#[flowVars.addressLine1]" addressLine2="#[flowVars.addressLine2]" addressState="#[flowVars.addressState]" addressZip="#[flowVars.addressZip]" cardName="#[flowVars.cardName]" config-ref="Stripe" expMonth="#[flowVars.expMonth]" expYear="#[flowVars.expYear]" id="#[flowVars.id]" ownerId="#[flowVars.ownerId]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-card>
</flow>
    <flow doc:name="DeleteCard" name="delete-card">
	<stripe:delete-card config-ref="Stripe" id="#[flowVars.id]" ownerId="#[flowVars.ownerId]"/>
</flow>
    <flow doc:name="ListAllCustomerCards" name="list-all-customer-cards">
	<stripe:list-all-customer-cards config-ref="Stripe" endingBefore="#[flowVars.endingBefore]" limit="#[flowVars.limit]" ownerId="#[flowVars.ownerId]" startingAfter="#[flowVars.startingAfter]"/>
</flow>
<flow doc:name="CreateCharge" name="create-charge">
	<stripe:create-charge amount="#[flowVars.amount]" applicationFee="#[flowVars.applicationFee]" capture="#[flowVars.capture]" config-ref="Stripe" currency="#[flowVars.currency]" customerId="#[flowVars.customerId]" description="#[flowVars.description]" destination="#[flowVars.destination]" receiptEmail="#[flowVars.receiptEmail]" statementDescriptor="#[flowVars.statementDescriptor]">
		<stripe:source ref="#[flowVars.source]"/>
		<stripe:metadata ref="#[flowVars.metadata]"/>		
	</stripe:create-charge>
</flow>
    <flow doc:name="RetrieveCharge" name="retrieve-charge">
	<stripe:retrieve-charge config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="UpdateCharge" name="update-charge">
	<stripe:update-charge config-ref="Stripe" description="#[flowVars.description]" id="#[flowVars.id]" receiptEmail="#[flowVars.receiptEmail]">
		<stripe:metadata ref="#[flowVars.metadata]"/>		
	</stripe:update-charge>
</flow>
    <flow doc:name="CaptureCharge" name="capture-charge">
	<stripe:capture-charge amount="#[flowVars.amount]" applicationFee="#[flowVars.applicationFee]" config-ref="Stripe" id="#[flowVars.id]" receiptEmail="#[flowVars.receiptEmail]" statementDescriptor="#[flowVars.statementDescriptor]"/>	  
</flow>
    <flow doc:name="ListAllCharges" name="list-all-charges">
	<stripe:list-all-charges config-ref="Stripe" createdTimestamp="#[flowVars.createdTimestamp]" customer="#[flowVars.customer]" endingBefore="#[flowVars.endingBefore]" limit="#[limit]" startingAfter="#[flowVars.startingAfter]"/>
</flow>
<flow doc:name="CreateSubscription" name="create-subscription">
	<stripe:create-subscription applicationFeePercent="#[flowVars.applicationFeePercent]" config-ref="Stripe" coupon="#[flowVars.coupon]" customerId="#[flowVars.customerId]" plan="#[flowVars.plan]" quantity="#[flowVars.quantity]" sourceToken="#[flowVars.sourceToken]" taxPercent="#[flowVars.taxPercent]" trialEnd="#[flowVars.trialEnd]">
		<stripe:source ref="#[flowVars.source]"/>
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:create-subscription>
</flow>
    <flow doc:name="RetrieveSubscription" name="retrieve-subscription">
	<stripe:retrieve-subscription config-ref="Stripe" customerId="#[flowVars.customerId]" subscriptionId="#[flowVars.subscriptionId]"/>
</flow>
    <flow doc:name="UpdateSubscription" name="update-subscription">
	<stripe:update-subscription applicationFeePercent="#[flowVars.applicationFeePercent]" config-ref="Stripe" coupon="#[flowVars.coupon]" customerId="#[flowVars.customerId]" plan="#[flowVars.plan]" prorate="#[flowVars.prorate]" quantity="#[flowVars.quantity]" sourceToken="#[flowVars.sourceToken]" subscriptionId="#[flowVars.subscriptionId]" taxPercent="#[flowVars.taxPercent]" trialEnd="#[flowVars.trialEnd]">
		<stripe:source ref="#[flowVars.source]"/>
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-subscription>
</flow>
    <flow doc:name="CancelSubscription" name="cancel-subscription">
	<stripe:cancel-subscription config-ref="Stripe" customerId="#[flowVars.customerId]" subscriptionId="#[flowVars.subscriptionId]"/>
</flow>
    <flow doc:name="ListActiveSubscriptions" name="list-active-subscriptions">
	<stripe:list-active-subscriptions config-ref="Stripe" customerId="#[flowVars.customerId]"/>
</flow>
<flow doc:name="CreateRefund" name="create-refund">
	<stripe:create-refund amount="#[flowVars.amount]" config-ref="Stripe" id="#[flowVars.id]" reason="#[flowVars.reason]" refundApplicationFee="#[flowVars.refundApplicationFee]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:create-refund>
	
</flow>
    <flow doc:name="RetrieveRefund" name="retrieve-refund">
	<stripe:retrieve-refund chargeId="#[flowVars.chargeId]" config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="UpdateRefund" name="update-refund">
	<stripe:update-refund chargeId="#[flowVars.chargeId]" config-ref="Stripe" id="#[flowVars.id]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-refund>
</flow>
    <flow doc:name="ListAllRefunds" name="list-all-refunds">
	<stripe:list-all-refunds chargeId="#[flowVars.chargeId]" config-ref="Stripe"/>
</flow>
<flow doc:name="CreateInvoice" name="create-invoice">
	<stripe:create-invoice applicationFee="#[flowVars.applicationFee]" config-ref="Stripe" customerId="#[flowVars.customerId]" description="#[flowVars.description]" statementDescriptor="#[flowVars.statementDescriptor]" subscription="#[flowVars.subscription]" taxPercent="#[flowVars.taxPercent]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:create-invoice>
</flow>
    <flow doc:name="RetrieveInvoice" name="retrieve-invoice">
	<stripe:retrieve-invoice config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="RetrieveInvoiceLineItems" name="retrieve-invoice-line-items">
	<stripe:retrieve-invoice-line-items config-ref="Stripe" customer="#[flowVars.customer]" endingBefore="#[flowVars.endingBefore]" id="#[flowVars.id]" limit="#[flowVars.limit]" startingAfter="#[flowVars.startingAfter]" subscription="#[flowVars.subscription]"/>
</flow>
    <flow doc:name="UpdateInvoice" name="update-invoice">
	<stripe:update-invoice applicationFee="#[flowVars.applicationFee]" closed="#[flowVars.closed]" config-ref="Stripe" description="#[flowVars.description]" forgiven="#[flowVars.forgiven]" invoiceId="#[flowVars.invoiceId]" statementDescriptor="#[flowVars.statementDescriptor]" taxPercent="#[flowVars.taxPercent]">
		<stripe:metadata ref="#[flowVars.metadata]"/>
	</stripe:update-invoice>
</flow>
    <flow doc:name="PayInvoice" name="pay-invoice">
	<stripe:pay-invoice config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="RetrieveAllInvoices" name="retrieve-all-invoices">
	<stripe:retrieve-all-invoices config-ref="Stripe" dateTimestamp="#[flowVars.dateTimestamp]" endingBefore="#[flowVars.endingBefore]" limit="#[flowVars.limit]" startingAfter="#[flowVars.startingAfter]"/>		
</flow>
<flow doc:name="RetrieveUpcomingInvoice" name="retrieve-upcoming-invoice">
	<stripe:retrieve-upcoming-invoice config-ref="Stripe" customerId="#[flowVars.customerId]" subscription="#[flowVars.subscription]"/>
</flow>
<flow doc:name="RetrieveApplicationFee" name="retrieve-application-fee">
	<stripe:retrieve-application-fee config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="ListAllApplicationFees" name="list-all-application-fees">
	<stripe:list-all-application-fees charge="#[flowVars.charge]" config-ref="Stripe" createdTimestamp="#[flowVars.createdTimestamp]" endingBefore="#[flowVars.endingBefore]" limit="#[flowVars.limit]" startingAfter="#[flowVars.startingAfter]"/>	
</flow>
<flow doc:name="CreateAccount" name="create-account">
	<stripe:create-account businessName="#[flowVars.businessName]" businessUrl="#[flowVars.businessUrl]" config-ref="Stripe" country="#[flowVars.country]" debitNegativeBalances="#[flowVars.debitNegativeBalances]" defaultCurrency="#[flowVars.defaultCurrency]" email="#[flowVars.email]" managed="#[flowVars.managed]" productDescription="#[flowVars.productDescription]" statementDescriptor="#[flowVars.statementDescriptor]" supportPhone="#[flowVars.supportPhone]">
		<stripe:metadata ref="#[flowVars.testMetadata]"/>
		<!-- <stripe:bank-account ref="#[flowVars.testBankAccount]"/>
		<stripe:legal-entity ref="#[flowVars.testLegalEntity]"/>
		<stripe:acceptance ref="#[flowVars.testAcceptance]"/>
		<stripe:transfer-schedule ref="#[flowVars.testTransferSchedule]"/> -->
	</stripe:create-account>
</flow>
    <flow doc:name="RetrieveAccount" name="retrieve-account">
	<stripe:retrieve-account config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
    <flow doc:name="UpdateAccount" name="update-account">
	<stripe:update-account businessName="#[flowVars.businessName]" businessUrl="#[flowVars.businessUrl]" config-ref="Stripe" debitNegativeBalances="#[flowVars.debitNegativeBalances]" defaultCurrency="#[flowVars.defaultCurrency]" email="#[flowVars.email]" id="#[flowVars.id]" productDescription="#[flowVars.productDescription]" statementDescriptor="#[flowVars.statementDescriptor]" supportPhone="#[flowVars.supportPhone]">
		<stripe:metadata ref="#[flowVars.testMetadata]"/>
		<!-- <stripe:bank-account ref="#[flowVars.testBankAccount]"/>
		<stripe:legal-entity ref="#[flowVars.testLegalEntity]"/>
		<stripe:acceptance ref="#[flowVars.testAcceptance]"/>
		<stripe:transfer-schedule ref="#[flowVars.testTransferSchedule]"/> -->
	</stripe:update-account>
</flow>
<flow doc:name="CreateCardToken" name="create-card-token">
	<stripe:create-card-token config-ref="Stripe" cardId="#[flowVars.cardId]" customer="#[flowVars.customer]">
		<stripe:card ref="#[flowVars.card]"/>
	</stripe:create-card-token>
</flow>
    <flow doc:name="CreateBankAccountToken" name="create-bank-account-token">
	<stripe:create-bank-account-token config-ref="Stripe" bankAccountId="#[flowVars.bankAccountId]">
		<stripe:bank-account ref="#[flowVars.bankaccount]"/>
	</stripe:create-bank-account-token>
</flow>
    <flow doc:name="RetrieveToken" name="retrieve-token">
	<stripe:retrieve-token config-ref="Stripe" id="#[flowVars.id]"/>
</flow>
</mule>
