demo/src/main/app/stripe-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:stripe="http://www.mulesoft.org/schema/mule/stripe" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/stripe http://www.mulesoft.org/schema/mule/stripe/current/mule-stripe.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <stripe:config-type name="Stripe__Connection_Management_type_strategy" apiKey="YOUR_API_KEY" doc:name="Stripe: Connection Management type strategy"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="stripe-createCustomerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/createcustomer" doc:name="HTTP"/>
        <stripe:create-customer config-ref="Stripe__Connection_Management_type_strategy" description="Test Customer" email="demo@demo.com" doc:name="CreateCustomer"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="stripe-retrieveCustomerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/retrievecustomer" doc:name="HTTP"/>
        <stripe:retrieve-customer config-ref="Stripe__Connection_Management_type_strategy" id="#[message.inboundProperties.'http.query.params'.id]" doc:name="RetrieveCustomer"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="stripe-deleteCustomerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/deletecustomer" doc:name="HTTP"/>
        <stripe:delete-customer config-ref="Stripe__Connection_Management_type_strategy" id="#[message.inboundProperties.'http.query.params'.id]" doc:name="Delete Customer"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
